RUN_ADDRESS=localhost:8080
LOG_LEVEL=info

DATABASE_URI=postgres://gofermartuser:gofermartsecret@localhost:5432/gofermart?sslmode=disable&pool_max_conns=10&pool_min_conns=1

ACCRUAL_SYSTEM_ADDRESS=http://localhost:8100/

ACCRUAL_SYSTEM_ADDRESS_PARAM=localhost:8100

POSTGRES_DB=gofermart
POSTGRES_USER=gofermartuser
POSTGRES_PASSWORD=gofermartsecret

SECRET_KEY=
